# Source Chain RPCs and Contract Addresses
ETH_SEPOLIA_RPC=https://api.zan.top/node/v1/eth/sepolia/692596371a21412d8ceafa0e21955bab
ETH_SEPOLIA_LOCK_CONTRACT=0x1227Fa26acd6cDb75E7764C8bfFcB47E26fB63f4

BASE_SEPOLIA_RPC=https://api.zan.top/node/v1/base/sepolia/692596371a21412d8ceafa0e21955bab # Base Sepolia RPC URL (fastest - 0.291s)  
BASE_SEPOLIA_LOCK_CONTRACT=0xaBd2429cf7BD4F25d0d99FF2057Ef9FDbc1c64F4 # Lock contract address on Base Sepolia

# Additional Networks
ZKSYNC_SEPOLIA_RPC=https://sepolia.era.zksync.dev # ZkSync Era Sepolia RPC URL
ZKSYNC_SEPOLIA_LOCK_CONTRACT=0x637C22367AABD4EC23f7cc3024954cA97A35A6C2 # Lock contract address on ZkSync Era Sepolia

UNICHAIN_SEPOLIA_RPC=https://unichain-sepolia-rpc.publicnode.com # Unichain Sepolia RPC URL
UNICHAIN_SEPOLIA_LOCK_CONTRACT=0x637C22367AABD4EC23f7cc3024954cA97A35A6C2 # Lock contract address on Unichain Sepolia

ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc # Arbitrum Sepolia RPC URL
ARBITRUM_SEPOLIA_LOCK_CONTRACT=0x637C22367AABD4EC23f7cc3024954cA97A35A6C2 # Lock contract address on Arbitrum Sepolia

SCROLL_SEPOLIA_RPC=https://sepolia-rpc.scroll.io # Scroll Sepolia RPC URL
SCROLL_SEPOLIA_LOCK_CONTRACT=0x637C22367AABD4EC23f7cc3024954cA97A35A6C2 # Lock contract address on Scroll Sepolia

OPTIMISM_SEPOLIA_RPC=https://sepolia.optimism.io # Optimism Sepolia RPC URL
OPTIMISM_SEPOLIA_LOCK_CONTRACT=0x38B0C35Ab49894AC954B137b415Eb256cEC640Df # Lock contract address on Optimism Sepolia

# Destination Chain
DST_RPC=https://dream-rpc.somnia.network

# Relayer Configuration
PRIVATE_KEY=
TOKEN_CONTRACT=0x38B0C35Ab49894AC954B137b415Eb256cEC640Df

# API Server
PORT=3001 # Port for the relayer API server